/* Custom CSS to hide navbar on scroll down */
.navbar-fixed-top.scrolled {
    background-color: transparent !important;
    transition: background-color 200ms ease-in;
}
/* Custom CSS for full height section */
.full-height-section {
    min-height: calc(100vh - 50px); /* Se ajusta según la altura de la barra de navegación */
    background-color: #f8f9fa; /* Set background color */
    padding-top: 50px; /* Añade espacio para la barra de navegación */
}
/* Centered text */
.centered-text {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}
/* Centered menu object */
.menu-object {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.dropdown-menu{
    text-align: center;
}

.dropdown-toggle{
    text-align: center;
}

/* Custom CSS para el margen superior del contenido */
.menu-opened .menu-content {
    margin-top: 200px; /* Ajusta este valor según sea necesario */
}

.menu-object{
    background: darkgray;
}

.loeu{
    font-weight: bold;
}